.d4Ijm7XD

	header

		.tabs
			.tab(
				ng-class="{active: !currentTab }",
				ng-click="currentTab = null; selectTab({ filter: {} })"
			)
				span.title {{ config.title || 'Logs' }}

			.tab(
				ng-repeat="tab in config.tabs",
				ng-click="$parent.currentTab = tab.title; selectTab(tab)",
				ng-class="{active: currentTab === tab.title }"
			)
				.fa(class="{{ tab.icon }}", ng-if="tab.icon")
				span {{ tab.title }}

	.screen
		.item(
			ng-repeat="log in logs track by log.createdAt",
			ng-class="::getItemClassDef(log.tags)"
		)
			span.tags [{{ ::log.displayTags.join(', ') }}]
			span.msg(ng-bind-html="::log.html")


	footer
		.col
			label
				span Limit
				select(ng-model="monitorConfig.limit", ng-options="item as item for item in [10, 50, 100, 500, 1000]")
		.col
			label
				input(
					ng-model="monitorConfig.verbose",
					type="checkbox"
				)
				span Verbose